.webrtc {
    display: flex;
    width: 100%;
    height: 100vh;
}

.left-side {
    width: 25%;
    padding: 20px;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.center {
    width: 50%;
    padding: 20px;
    background-color: #fff;
}

.right-side {
    width: 25%;
    padding: 20px;
    background-color: #f1f3f5;
}