.filter {
    display: flex;
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 48px;
}
.filter > .condition {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.filter-date {
    width: 14rem;
}
.charge-input {
    margin-right: 4rem;
    width: 8rem;
}
.filter-btn {
    display:flex;
    width: 12rem;
    color: white;   
    margin-left:auto;
}
